.container {
  height: 100vh;
  padding: 20px;
}

h1 {
  color: #212121;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.formFields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  width: 250px;
}

.input,
.bloodType {
  width: 100%;
}

.radioGroup {
  display: flex;
  gap: 5px;
}

.button {
  margin: 30px 0 0;
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
  .bgGrayVector {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 540px;
    height: 500px;

    background-image: url('../../assets/images/gray-vector.png');
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
  }

  .bgBanana {
    position: absolute;
    bottom: -100px;
    right: 0;

    width: 380px;
    height: 380px;

    background-image: url('../../assets/images/banana.png');
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
  }

  .bgStrawBerry {
    position: absolute;
    bottom: 150px;
    right: 0;

    width: 240px;
    height: 240px;

    background-image: url('../../assets/images/strawberry.png');
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
  }

  .bgLeaves {
    position: absolute;

    width: 400px;
    height: 400px;

    background-image: url('../../assets/images/leaves.png');
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
  }
  h1 {
    font-size: 2rem;
  }
  .formFields {
    width: 700px;
  }

  .input,
  .bloodType {
    width: 300px;
  }

  .button {
    margin: 50px 0 0;
    text-align: left;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    position: relative;
  }

  .bgGrayVector {
    width: 480px;
    height: 100%;
  }

  .bgBanana {
    top: -130px;
    right: 0;

    width: 450px;
    height: 450px;
  }

  .bgStrawBerry {
    bottom: 150px;
    right: 0;

    width: 300px;
    height: 300px;
  }

  .bgLeaves {
    top: -80px;
    right: 200px;

    width: 700px;
    height: 100%;
  }

  h1 {
    width: 600px;
    font-size: 2.5rem;
  }
  .formFields {
    width: 600px;
    justify-content: space-between;
  }

  .input,
  .bloodType {
    width: 280px;
  }

  .button {
    width: 600px;
    text-align: right;
  }
}
