.form_container {
  position: relative;
  height: 100%;
}

.form {
  margin-top: 135px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.h2 {
  color: #fc842d;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.01px;
}

.input {
  width: 20vw;
  font-size: 14px;
  padding: 0px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: #9b9faa;
}
.input:hover {
  cursor: pointer;
}

.button_container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 16px;
}

.login_button {
  display: inline-block;
  text-decoration: none;
  width: 181px;
  height: 44px;
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 17.01px;
  border: none;
  border-radius: 50px;
  background-color: #fc842d;
  color: #fff;
  box-shadow: 0px 4px 10px 0px #fc842d80;
}
.login_button:hover {
  background-color: #fff;
  color: #fc842d;
  cursor: pointer;
}

.register_button {
  display: inline-block;
  text-decoration: none;
  width: 181px;
  height: 44px;
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 17.01px;
  border: 2px solid #fc842d;
  border-radius: 50px;
  background-color: #fff;
  color: #fc842d;
}
.register_button:hover {
  background-color: #fc842d;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px #fc842d80;
}

/* Tablet styles (adjust as needed) */
@media screen and (max-width: 1024px) {
  .input {
    width: 35vw;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .form {
    align-items: center;
  }

  .input {
    width: 85vw;
  }

  .button_container {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .login_button,
  .register_button {
    width: 182px;
    height: 44px;
    padding: 14px;
    font-size: 16px;
  }
}
