.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px) hue-rotate(90deg);
}
@media screen and (min-width: 768px) {
  .bgImg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/bg/tabletMainBg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
  .bgImg {
    background-image: url('../../assets/bg/desktopMainBg.png');
  }
}
